* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 36, 36);
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: row;
  position: relative;
}

button {
  background-color: rgb(105, 8, 242);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  width: 180px;
  margin-top: 10px;
}

.input_section {
  background-color: rgb(48, 48, 48);
  width: 270px;
  height: 100%;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.input_section h1 {
  margin-top: 30px;
  margin-bottom: 20px
}

.txt_input {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  width: 180px;
}

.input_form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task_list {
  position: absolute;
  top: 10%;
  left: 28%;
  transform: translate(-50%-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.task {
  background-color: rgb(48, 48, 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 10px 15px;
  gap: 12px;
  width: 230px;
}

.task span {
  flex: 1;
  text-align: center;
}

.trash_btn {
  background-color: transparent;
  color: red;
  width: auto;
  padding: 0;
  margin: 0;
}

.task input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  flex-shrink: 0;
}

select {
  position: absolute;
  top: 3%;
  left: 28%;
  transform: translate(-50%-50%);
  display: grid;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}


option {
  border: none;
}