* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  color: white;
  background-color: rgb(38, 38, 38);
}

/* =====================SHOP===================== */

.shop_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop_page header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns_container {
  margin-top: 6px;
}

.btns_container button {
  background-color: rgb(158, 17, 223);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  transition: all 0.3s;
  margin-right: 15px;
}

.btns_container button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}

.products_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}

.product_card {
  background-color: rgb(54, 54, 54);
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: all 0.3s;
}

.product_card:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}

.img_container span {
  font-size: 40px;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.info_container p {
  font-size: 0.8em;
  text-align: center;
}

.info_container .price {
  background-color: rgb(158, 17, 223);
  padding: 2px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info_container button {
  background-color: rgb(158, 17, 223);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  transition: all 0.3s;
  margin-top: 10px;
}

.info_container button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}

/* =====================CART===================== */

.cart_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_page header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.cart_page header button {
  background-color: rgb(158, 17, 223);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  transition: all 0.3s;
  margin-right: 15px;
  margin-top: 6px;
}

.cart_page header button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}

.cart_item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.579);
  margin-top: 20px;
  width: 800px;
}

.cart_item > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.itemInfo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemInfo_container .img {
  font-size: 40px;
}

.cart_item_without_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.cart_item_without_image button {
  background-color: rgb(158, 17, 223);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  transition: all 0.3s;
}

.cart_item_without_image button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}

.controls_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls_container p {
  margin: 2px 0;
}

.controls_container button {
  background-color: transparent;
  border: none;
  color: rgb(158, 17, 223);
  cursor: pointer;
}

/* =====================PAY===================== */

.pay_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay_page header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.pay_page header button {
  background-color: rgb(158, 17, 223);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  transition: all 0.3s;
  margin-right: 15px;
  margin-top: 6px;
}

.pay_page header button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}

.final_container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 54, 54);
  width: 600px;
  height: 160px;
  border-radius: 4px;
} 

.final_container h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.final_container button {
  background-color: rgb(158, 17, 223);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 5px 20px;
  transition: all 0.3s;
  width: 200px;
} 

.final_container button:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.132);
}