body {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  color: white;
  background-color: rgb(137, 27, 239);
  width: 100px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  transition: all 0.3s;
}

button:hover {
  border: 1px solid white;
  cursor: pointer;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 400px;
  border-radius: 6px;
  background-color: rgb(45, 45, 45);

} 

.btn_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

ul {
  list-style: none;

}
