body {
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

button {
  color: white;
  background-color: rgb(137, 27, 239);
  width: 150px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  transition: all 0.3s;
}

button:hover {
  border: 1px solid white;
  cursor: pointer;
}

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 400px;
  border-radius: 6px;
} 

.container p {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.dark {
  background-color: rgb(45, 45, 45);
}

.light {
  background-color: rgb(233, 233, 233);
}

.light p {
  color: black;
}